* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freight big pro";
}
html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
#loader {
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  color: white;
  text-align: center;
}
#nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  z-index: 100;
}
#nav svg path {
  fill: black;
}
#yellow {
  background-color: #f5e414;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 14;
}
#yellow1 {
  background-color: #f5e414;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 13;
}
#loader video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 12;
}
#loader h1 {
  font-size: 6.4vw;
  line-height: 5vw;
  z-index: 15;
  font-weight: 100;
  letter-spacing: -2px;
}
#page1 {
  background-color: #f5e414;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#page1 h1 {
  font-size: 6.4vw;
  line-height: 5vw;
  font-weight: 100;
  letter-spacing: -2px;
}

#page2 {
  background-color: black;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  transition: all ease 0.4s;
}
.elem {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.moving {
  width: 100%;
}
.moving-in {
  display: inline-block;
  white-space: nowrap;
  animation: moving 6s infinite linear;
}
.moving-in h5 {
  color: white;
  font-size: 20px;
  display: inline-block;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-right: 35px;
  font-weight: 400;
  opacity: 0;
  transition-delay: 0.2s;
}
.elem .moving {
  background-color: #f5e414;
  white-space: nowrap;
  padding: 3px 0;
  transition: all ease 0.5s;
  top: 50%;
  transform: translate(0, -50%) scaleY(0);
  position: absolute;
}
.elem h2 {
  font-size: 6vw;
  line-height: 5vw;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin: 0;
  transition: all 0.4s ease;
  transition-delay: 100ms;
  font-style: normal;
}
.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f5e414;
  width: 40%;
  height: 100%;
  z-index: 9;
  font-size: 0;
  box-shadow: 2px 0 0px 0 rgba(255, 255, 255, 0.427);
}

.elem h2:hover {
  font-style: italic;
}

.elem:hover .moving {
  transform: translate(0, -50%) scaleY(1);
}
.elem:hover .moving h5 {
  opacity: 1;
}
@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page3 {
  background-color: white;
  /* min-height: 100vh; */
  width: 100%;
}
.imageContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 800px));
  grid-auto-rows: minmax(150px, 500px);
  gap: 30px;
  padding: 30px;
  grid-auto-flow: row;
  align-items: start;
}
.imageHolder {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: relative;
}
.imageHolder > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 300ms ease;
}
.imageHolder:hover .overlay {
  transform: translateY(00%);
}
.imageHolder:hover img {
  transform: scale(1.04);
}
.imageHolder:hover .overlay > span {
  scale: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 1s ease;
}

.overlay > span {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  transition: all 600ms ease;
  scale: 0;
  transition-delay: 0.5s;
}

.imageHolder:nth-child(1) {
  grid-row: 1 / span 1;
}

#nine {
  grid-column: 1 / span 3;
  align-self: flex-start;
  justify-self: self-start;
}
@media screen and (max-width: 768px) {
  #nine {
    grid-column: 1 / span 2;
    align-self: flex-start;
    justify-self: self-start;
  }
  .imageContainer {
    grid-template-columns: repeat(2, minmax(150px, 400px));
    grid-auto-rows: minmax(50px, 200px);
    gap: 10px;
  }
}
@media screen and (max-width: 620px) {
  #nav {
    padding: 10px 20px;
  }
}

footer{
  width: 100%;
  height: 20vh;
  display: grid;
  place-items: center;
  background-color: white;
  border-top: 3px solid #dadada;
}
footer h2{
font-weight: 300;
font-size: 2rem;
color: #1b1b1b;
cursor: pointer;
}